@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

main {
  background-color: #edecec;
  padding-bottom: 4rem;
}

button.btn__cta {
  display: block;
  border: 1px solid #000;
  padding: 0.75rem 1rem;
  width: 9.375rem;
  border-radius: 2rem;
  margin: 0 auto;
  font-size: 15px;
  font-weight: 500;
  background: #edecec;
}

ul {
  list-style-type: none;
}

/* ==========
 HEADER
 ========== */
header {
  background-color: rgba(0, 0, 0, 0.35);
  min-height: 300px;
  position: relative;
  padding: 3rem 1rem 0;
  /* margin-bottom: 8rem; */
  background-image: url("./../public/header.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #fff;
}

/* ==========
 FORM
 ========== */
form {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2rem 1rem;
  width: 87.2%;
  margin: 0 auto;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.25rem;
  box-shadow: 1px 4px 20px 5px rgba(0, 0, 0, 0.15);
}

button.btn__close-form {
  background: none;
  border: none;
  width: fit-content;
  font-size: 1.125rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-weight: bold;
  cursor: pointer;
}

form label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

form label small {
  color: #bbbaba;
}

form input {
  min-height: 2rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  padding: 0.3125rem 0.5rem;
}

form input,
textarea {
  font-size: 1rem;
  margin-bottom: 1rem;
  outline: none;
  border: 1px solid #bbbaba;
  border-radius: 0.25rem;
}

form textarea {
  padding: 0.65rem 0.5rem;
}

form input::placeholder,
textarea::placeholder {
  color: #bbbaba;
}

/* ==========
 TASK LIST
 ========== */
ul.task-list {
  width: 87.2%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 0.25rem;
}

/* ==========
 TASK ITEM
 ========== */
li.task-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #bbbaba;
  padding: 1rem;
}

.task-item__title {
  display: block;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.task-item__description {
  margin-bottom: 1rem;
}

input[type="checkbox"] {
  margin-right: 0.25rem;
}

label.label__checkbox {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  font-weight: 500;
  color: #bbbaba;
}

.task-item__buttons {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.task-item__buttons button {
  background: none;
  border: none;
  outline: none;
  font-size: 1.25rem;
}

button.btn__edit-item {
  color: #bbbaba;
}

button.btn__delete-item {
  color: #dc3545;
}
